/**
about_contents
**/
.about_contents{
  text-align: center;
  padding: 100px 40px;

  .en{
    font-size: 20px;
    margin-bottom: 20px;
  }

  .readtxt{
    width: 700px;
    text-align: left;
    line-height: 2em;
    margin: 0 auto;
  }
}
@media screen and (max-width:1000px) {
  .about_contents{
    padding: 60px 30px;
    .en{
      font-size: 15px;
      margin-bottom: 20px;
    }
  }

}
@media screen and (max-width:768px) {
  .about_contents .readtxt{
    width: 100%;
  }
}
