@import './utils';

html,body{
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  font-size: 14px;
  color: #222;
  /*background: #f9f9f9;*/
}

.flag-icon{
  margin-right: 1em;
}

/*-----------------*/
/* common style
/*-----------------*/

a{
  color: #222;
  text-decoration: none;
}

#header {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  opacity: 0;
  &.open{
    opacity: 1;
  }

  .header-icon-links{
    display: flex;
    justify-content: center;

    .icon-wrapper:not(:last-child){
      margin-right: 20px;
    }
  }

  @include SP(){
    margin-bottom: 60px;
  }
  h1{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 0 0;
    box-sizing: border-box;
    @include SP(){
      padding: 60px 30px 0;
    }
  }

  #lang{
    display: inline-block;
    transition: box-shadow .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover{
      cursor: pointer;
      box-shadow: 0 10px 18px rgba(0, 0, 0, 0.12);
    }

    .lang-btn{
      // border: 1px solid #040000;
      margin-right: 0;
      color: #040000;
      i.world{
        font-size: 20px;
        @include SP($breakpoint2){
          font-size: 16px;
        }
      }
      .text{
        letter-spacing: 3px;
        cursor: pointer;
        @include SP($breakpoint2){
          font-size: 12px;
        }
      }
  
      .item{
        @include SP(){
          font-size: 12px;
        }
      }
    }

    &.fixed {
        position: fixed;
        top: 40px;
        right: 20px;
        z-index: 10;
        display: inline-flex;
        border-radius: 40px;
      .lang-btn{
        height: 70px;
        padding: .7em !important;
        align-items: center;
        display: flex;

        i.world{
          margin-right: 5px !important;
          position: static;
          width: auto;
          height: auto;
          &::before{
            position: static;
            display: inline;
          }
        }
        .text{
          width: 20px;
          letter-spacing: 2px;
        }
        .menu{
          right: 0;
          left: auto;
        }
      }
    }
  }
}

h2{
  font-size: 16px;
  margin-bottom: 20px;

  @include SP(){
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.transparent{
  background-color: transparent !important;
}

.Montserrat{
	font-family: 'Montserrat', sans-serif;
	font-style              : normal;
	font-weight             : 400;
	letter-spacing          : 5px;
	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;
}

.fade-init{
    transition: .8s;
}

.fade {
    opacity: 1.0;
}

.upfade-init {
    transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    transition: .8s;
}

.upfade {
    opacity: 1.0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0)
}


.Lfade-init {
    transform: translate(-20px, 0px);
    -webkit-transform: translate(-20px, 0px);
    transition: .8s;
}

.Lfade {
    opacity: 1.0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0)
}

.L-oblique-init{
  opacity: 0;
  transform: translate(-30px, -30px);
  -webkit-transform: translate(-30px, -30px);
  transition: .8s ease;
}

.L-oblique{
  opacity: 1.0;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
}

.R-oblique-init{
  opacity: 0;
  transform: translate(30px, -30px);
  -webkit-transform: translate(30px, -30px);
  transition: .8s ease;
}

.R-oblique{
  opacity: 1.0;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
}

.displayfade-init {
    opacity: 0;
    //transition:all .8s ease;
}

.displayfade {
    opacity: 1.0;
    top: 100px;
}

.iphonefade-init {
    opacity: 0;
    left: 50px;
    //transition:all .8s ease .2s;
}

.iphonefade {
    opacity: 1.0;
    left: 100px;
}

.macbookfade-init {
    right: -50px;
    transition:all .8s ease .4s;
}

.border_line{
  display: block;
  position: absolute;
  left:50%;
  margin-left: -1px;
  top: -25px;
  margin: 0 auto;
  content: "";
  /*height: 50px;*/
  width: 2px;
  background-color: #666;
}

.macbookfade {
    opacity: 1.0;
    right: 0px;
}

.borderani-init{
  height: 0;
  transition: 1s;
}

.borderani{
  height: 50px;
  transition: 1s;
}

/**
pagetop
**/
.pagetop{
  border-top: 1px solid #eee;
  padding: 20px 0;
  text-align: center;
  transition: all 0.3s ease;

  @include SP(){
    padding: 15px 0;
  }

  .arrow{
    display: block;
    width: 25px;
    height: 25px;
    margin: 10px auto 0 auto;
    border-top: 2px solid #222;
    border-right: 2px solid #222;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: all 0.3s ease;

    @include SP(){
      width: 20px;
      height: 20px;
    }
  }

  &:hover {
    cursor: pointer;
    .arrow{
      border-top: 2px solid #666;
      border-right: 2px solid #666;
    }
  }
}