html,body{
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  font-size: 14px;
  color: #222;
  /*background: #f9f9f9;*/
}


/*-----------------*/
/* common style
/*-----------------*/

a{
  color: #222;
  text-decoration: none;
}

.Montserrat{
	font-family: 'Montserrat', sans-serif;
	font-style              : normal;
	font-weight             : 400;
	letter-spacing          : 5px;
	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;
}

.fade-init{
    transition: .8s;
}

.fade {
    opacity: 1.0;
}

.upfade-init {
    transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    transition: .8s;
}

.upfade {
    opacity: 1.0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0)
}


.Lfade-init {
    transform: translate(-20px, 0px);
    -webkit-transform: translate(-20px, 0px);
    transition: .8s;
}

.Lfade {
    opacity: 1.0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0)
}

.L-oblique-init{
  opacity: 0;
  transform: translate(-30px, -30px);
  -webkit-transform: translate(-30px, -30px);
  transition: .8s ease;
}

.L-oblique{
  opacity: 1.0;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
}

.R-oblique-init{
  opacity: 0;
  transform: translate(30px, -30px);
  -webkit-transform: translate(30px, -30px);
  transition: .8s ease;
}

.R-oblique{
  opacity: 1.0;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
}

.displayfade-init {
    top: 150px;
    transition:all .8s ease;
}

.displayfade {
    opacity: 1.0;
    top: 100px;
}

.iphonefade-init {
    left: 50px;
    transition:all .8s ease .2s;
}

.iphonefade {
    opacity: 1.0;
    left: 100px;
}

.macbookfade-init {
    right: -50px;
    transition:all .8s ease .4s;
}

.macbookfade {
    opacity: 1.0;
    right: 0px;
}

.borderani-init{
  height: 0;
  transition: .8s;
}

.borderani{
  height: 50px;
  transition: .8s;
}

/**
pagetop
**/
.pagetop{
  border-top: 1px solid #eee;
  padding: 20px 0;
  text-align: center;
  transition: all 0.3s ease;

  .arrow{
    display: block;
    width: 25px;
    height: 25px;
    margin: 10px auto 0 auto;
    border-top: 2px solid #222;
    border-right: 2px solid #222;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: all 0.3s ease;
  }

  &:hover {
    cursor: pointer;
    .arrow{
      border-top: 2px solid #666;
      border-right: 2px solid #666;
    }
  }
}

/***************************************************************/
/* mobile
***************************************************************/

@media screen and (max-width:1000px) {

  .border_line{
    display: block;
    position: absolute;
    left:50%;
    margin-left: -1px;
    top: -25px;
    margin: 0 auto;
    content: "";
    width: 2px;
    background-color: #555;
  }

  .viewsite_btn{
    width: 200px;
    position: relative;;
    right: 0;
    bottom: 0;
    margin: 50px auto 0 auto;;
  }


  /*-----------------*/
  /* home
  /*-----------------*/

  #header h1{
    padding: 60px 30px;
  }

  h2{
    font-size: 16px;
    margin-bottom: 20px;
  }

  .works_contents{
    padding: 60px 0;

    h2{
      margin-bottom: 10px;
    }

    .inner{
      padding: 0px 20px;

      .item{
        margin: 10px 0px;
        img{
          width: 100%;
        }
      }
    }
  }

  .pagetop{
    border-top: 1px solid #eee;
    padding: 15px 0;
    text-align: center;
    transition: all 0.3s ease;
  }

  .pagetop .arrow{
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px auto 0 auto;
  }
}
