@import './utils';

.works_desc_grid{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 5px;
    align-items: center;

    @include SP(){
        grid-template-columns: 1fr;
    }

    .viewsite_btn{
        width: 200px;

        @include SP() {
            font-size: 10px;
        }
    }
}